<div class="jumbotron-container">
  <div class="overlay-container">
    <div class="logo-container">
      <%= image_tag('ivnvoicelogo.png', id: 'banner') %>
      <%= image_tag('free_estimates.png', id: 'free-estimates') %>
    </div>
    <a href="#service-anchor">
      <span class="glyphicon glyphicon-menu-down"></span>
    </a>
  </div>
</div>
<div class="contact-info">
  <h2>925-400-SKYE(7593)</h2>
  <h3>1647 Willow Pass Rd. Suite 513. Concord, CA 94520</h3>
  <ul>
      <li><h3>Contra Costa County <span class="glyphicon glyphicon-option-vertical"></span></h3></li>
      <li><h3> San Joaquin County <span class="glyphicon glyphicon-option-vertical"></span></h3></li>
      <li><h3> Alameda County <span class="glyphicon glyphicon-option-vertical"></span></h3></li>
      <li><h3> Solano County</h3></li>
    </ul>
</div>
<div id="service-anchor" class="services-container">
  <div class="container">
    <div class="row">
      <!-- <header>
        <h1>Services</h1>
      </header> -->
    </div>
    <div class="row">
      <center>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="service">
            <h1>Your Home</h1>
            <ul class="list-group">
              <li class="list-group-item">Clean Screens</li>
              <li class="list-group-item">Wipe Tracks</li>
              <li class="list-group-item">Clean Cob Webs</li>
              <li class="list-group-item">Razor Clean Windows</li>
              <li class="list-group-item">Clean All Windows Inside and Out</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <%= image_tag('windows1.jpg', class: 'slider-img') %>
                <!-- <div id="window1" class: 'slider-img'></div> -->
              </li>
              <li>
                <%= image_tag('business.jpg', class: 'slider-img') %>
                <!-- <div id="business" class: 'slider-img'></div> -->
              </li>
              <li>
                <%= image_tag('window-water.jpg', class: 'slider-img') %>
                <!-- <div id="window-water" class: 'slider-img'></div> -->
              </li>
              <li>
                <%= image_tag('window-open.jpg', class: 'slider-img') %>
                <!-- <div id="window-open" class: 'slider-img'></div> -->
              </li>
            </ul>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="service">
          <h1>Commercial</h1>
          <ul class="list-group">
            <li class="list-group-item">Remove Webs</li>
            <li class="list-group-item">Wipe Sills</li>
            <li class="list-group-item">Clean All Windows Inside and Out</li>
            <li class="list-group-item">Razor Clean</li>
            <li class="list-group-item">Construction Clean</li>
            <li class="list-group-item">Paint Removal</li>
          </ul>
        </div>
      </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
  </center>
  </div> <!-- End Row -->
</div>
<footer>
  <div class="container">
    <ul class="social-list">
      <h4>Connect with us!</h4>
      <li>
        <a class="btn btn-block btn-social btn-facebook" style="color:#3B5998;">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a class="btn btn-block btn-social btn-twitter" style="color:#55ACEE;">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a class="btn btn-block btn-social btn-google" style="color:#DD4B39;">
          <i class="fa fa-google"></i>
        </a>
      </li>
    </ul>
    <%= image_tag('ivnvoicelogo.png', id: 'footer-logo') %>
  </div>
</footer>
